body {
  background-color: rgb(82, 82, 82);
  text-align: center;
  margin: 200px;
}

#login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div {
  position: relative;
}

input {
  background: none;
  border: none;
  outline: none;
}

span {
  content: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: darkseagreen;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

input:focus + span {
  transform-origin: bottom left;
  transform: scaleX(1);
}
