body {
  background-image: url('../img/Login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

::selection {
  background-color: #33bc9c;
  color: white;
}

#back-box {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 40px;
  transition: text-shadow 0.1s;
}

#back-box:hover {
  color: #f2f2f2;
  text-shadow: black 0.1em 0.1em 0.2em;
  transition: text-shadow 0.2s, color 0.2s;
}

#back-box i {
  font-size: 20px;
}

#back-box span {
  font-size: 20px;
  top: 50%;
}

#login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 350px;
  padding: 30px 100px;
  background-color: rgba(71, 71, 71, 0.5);
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: 40px;
  color: rgb(230, 230, 230);
}

#login-box div {
  position: relative;
  margin-bottom: 20px;
}

#login-box i {
  color: rgb(200, 200, 200);
}

input {
  background: none;
  border: none;
  outline: none;
  margin-left: 5px;
  color: rgb(200, 200, 200);
}

input::placeholder {
  color: rgb(200, 200, 200);
}

span.faded {
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 0;
  height: 2px;
  background-color: rgba(242, 242, 242, 0.205);
}

span.float {
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 0;
  height: 2px;
  z-index: 1;
  background-color: #f2f2f2;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

input:focus + span.float {
  transform-origin: bottom left;
  transform: scaleX(1);
}

span.float.error {
  background-color: rgb(216, 114, 116);
}

span.faded.error {
  background-color: #CB4042;
}

button {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 0%, 68%, 0.5);
}

button:hover {
  cursor: pointer;
  animation: jelly 1s;
  animation-iteration-count: infinite;
}

button:focus {
  background-color: hsla(0, 0%, 68%, 0.3);
  outline: none;
}

@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }

  15% {
    transform: scale(0.9, 1.1);
  }

  30% {
    transform: scale(1.1, 0.9);
  }

  45% {
    transform: scale(0.95, 1.05);
  }

  60% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 800px) {
  #login-box {
    padding: 30px 70px;
  }
}
