body {
  margin: 0;
}

nav {
  position: fixed;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}

nav:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left; /* Horizontal Navigation */
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

nav #login {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: auto;
}

#title {
  position: relative;
}

#title h1 {
  user-select: none;
  position: relative;
  text-align: center;
  font-size: 10vw;
  top: -5em;
  left: -1.7em;
  animation-delay: 0.2s;
}

#title h6 {
  user-select: none;
  position: relative;
  text-align: center;
  font-size: 1.3vw;
  top: -38em;
  left: -15em;
  animation-delay: 0.7s;
}

/* @media screen and (max-width:600px){
  image {width: 100%;}
} */
