/* GLOBAL */
body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

table {
  margin: auto;
}

.head {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.head span {
  position: absolute;
  left: -50px;
  right: -50px;
  height: 2px;
}

::selection {
  background-color: #33bc9c;
  color: gold;
}

/* NAVIGATION */
#horizontal-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s;
}

#horizontal-nav.colored {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav.colored:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
}

#horizontal-nav li {
  float: left;
}

#horizontal-nav div {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  cursor: pointer;
}

#horizontal-nav div:hover {
  color: rgb(194, 194, 194);
  opacity: 0.9;
}

#horizontal-nav .show-nav-btn-item {
  display: none;
}

#show-nav-btn {
  position: absolute;
  left: 0;
  margin: 12px 20px;
}

#login-btn {
  position: absolute;
  right: 0;
  margin: 12px 20px;
}

/* TITLE */
#title {
  position: relative;
  min-height: 1000px;
  background-position: center center;
  background-repeat: no-repeat;
  animation-delay: 0.2s;
}

#title div {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title h1 {
  text-align: center;
  font-size: 10em;
  animation-delay: 1.5s;
}

#title h6 {
  text-align: center;
  font-size: 1.3em;
  animation-delay: 2s;
}

/* NEWS */
#news {
  background-color: #121315;
  height: 100%;
  padding: 24% 0 18% 0;
  position: relative;
}

#news .container {
  padding-top: 30px;
  padding-bottom: 50px;
}

#news .head {
  top: 15%;
  color: #f2a20c;
}

#news .head span {
  background-color: #f2a20c;
}

#news li {
  line-height: 2em;
  text-align: left;
}

#news a {
  color: #f2a20c;
}

/* LEGEND */
#legend {
  position: relative;
}

#legend .head {
  top: 8%;
  color: #33bc9c;
}

#legend .head span {
  background-color: #33bc9c;
}

#legend .container {
  padding: 20% 0 12% 0;
}

#legend tr {
  box-shadow: 3px 3px 12px #ffb326;
}

/* GOODS */
#goods h1 {
  text-align: center;
}

#goods div {
  text-align: center;
  background-color: chocolate;
}

/* MUSIC */
#music {
  margin-left: 17em;
  margin-right: 17em;
}

#music h1 {
  text-align: center;
}

#music div.Album {
  text-align: center;
  font-size: 30px;
  color: black;
}

#music div.singer {
  text-align: center;
  font-size: 30px;
  color: rgb(138, 68, 36);
}

#music div.studio {
  text-align: center;
  font-size: 30px;
  color: rgb(3, 80, 42);
}

.carousel .carousel-item img {
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

footer {
  padding-top: 3%;
  padding-bottom: 7%;
  background-color: #121315;
  color: wheat;
  text-align: center;
}

footer h1 {
  font-size: 5rem;
  padding-top: 50px;
}

footer i {
  font-size: 30px;
  margin: auto 5px;
  cursor: pointer;
  transition: opacity 0.1s;
}

footer i:hover {
  opacity: 0.3;
  transition: opacity 0.2s;
}
