/* GLOBAL */
:root {
  --news-bg: #121315;
  --news-title: #f2a20c;
  --legend-bg: #ff8366;
  --legend-title: #f0f0f0;
  --goods-bg: #8bc0e8;
  --goods-title: #505afc;
  --music-title: rgb(128, 211, 166);
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

table {
  margin: auto;
}

.head {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.head span {
  position: absolute;
  left: -50px;
  right: -50px;
  height: 2px;
}

::selection {
  background-color: #33bc9c;
  color: gold;
}

/* NAVIGATION */
#horizontal-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s;
}

#horizontal-nav.colored {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav.colored:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s;
}

#horizontal-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
}

#horizontal-nav li {
  float: left;
}

#horizontal-nav div {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  cursor: pointer;
}

#horizontal-nav div:hover {
  color: rgb(194, 194, 194);
  opacity: 0.9;
}

#horizontal-nav .show-nav-btn-item {
  display: none;
}

#show-nav-btn {
  position: absolute;
  left: 0;
  margin: 12px 20px;
}

#login-btn {
  position: absolute;
  right: 0;
  margin: 12px 20px;
}

/* TITLE */
#title {
  position: relative;
  min-height: 1000px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-delay: 0.2s;
}

#title div {
  position: absolute;
  display: inline-block;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#title h1 {
  text-align: center;
  font-size: 10em;
  animation-delay: 1.5s;
}

#title h6 {
  text-align: center;
  font-size: 1.3em;
  animation-delay: 2s;
}

/* NEWS */
#news {
  background-color: var(--news-bg);
  height: 100%;
  padding: 24% 0 18% 0;
  position: relative;
}

#news .container {
  padding-top: 30px;
  padding-bottom: 50px;
}

#news .head {
  top: 15%;
  color: var(--news-title);
}

#news .head span {
  background-color: var(--news-title);
}

#news li {
  line-height: 2em;
  text-align: left;
}

#news a {
  color: var(--news-title);
}

/* LEGEND */
#legend {
  position: relative;
  background-color: var(--legend-bg);
}

#legend .head {
  top: 8%;
  color: var(--legend-title);
}

#legend .head span {
  background-color: var(--legend-title);
}

#legend .container {
  padding: 20% 0 12% 0;
}

#legend tr {
  box-shadow: 3px 3px 12px #ffb326;
}

/* GOODS */
#goods {
  position: relative;
  background-color: var(--goods-bg);
}

#goods .head {
  top: 8%;
  color: var(--goods-title);
}

#goods .head span {
  background-color: var(--goods-title);
}

#goods .container {
  padding: 20% 0 12% 0;
}

#goods h1 {
  text-align: center;
}

#goods td {
  text-align: center;
  background-color: chocolate;
}

/* MUSIC */
#music {
  background-color: #121315;
  height: 100%;
  padding: 24% 0 18% 0;
  position: relative;
}

#music .head {
  top: 8%;
  color: var(--music-title);
}

#music .head span {
  background-color: var(--music-title);
}

#music div.album {
  text-align: center;
  font-size: 20px;
  color: var(--music-title);
}

#music div.singer {
  text-align: center;
  font-size: 20px;
  color: var(--music-title);
}

#music div.studio {
  text-align: center;
  font-size: 20px;
  color: var(--music-title);
}

#music button {
  /* 寬 */
  width: 40px;

  /* 高 */
  height: 40px;
  background: rgb(168, 164, 164);
  border-radius: 50%;
}

#music button:hover {
  /* 滑鼠懸在上時背景變色 */
  background: white;
}

#music i {
  font-size: 20px;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.1s;
}

#music i:hover {
  opacity: 0.3;
  transition: opacity 0.2s;
}

/* About */
#about {
  background-color: #121315;
  height: 100%;
  padding: 24% 0 18% 0;
  position: relative;
}

#about .head {
  top: 8%;
  color: rgb(181, 173, 233);
}

#about .head span {
  background-color: rgb(181, 173, 233);
}

#about .container {
  padding: 20% 0 12% 0;
}

.carousel .carousel-item img {
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

footer {
  padding-top: 3%;
  padding-bottom: 7%;
  background-color: #121315;
  color: wheat;
  text-align: center;
}

footer h1 {
  font-size: 5rem;
  padding-top: 50px;
}

footer i {
  font-size: 30px;
  margin: auto 5px;
  cursor: pointer;
  transition: opacity 0.1s;
}

footer i:hover {
  opacity: 0.3;
  transition: opacity 0.2s;
}
